[submodule "ansible/modules/ansible-makepkg"]
	path = ansible/modules/ansible-makepkg
	url = https://github.com/gunzy83/ansible-makepkg.git
[submodule "ansible/modules/ansible-aur"]
	path = ansible/modules/ansible-aur
	url = https://github.com/kewlfft/ansible-aur.git
[submodule "ansible/external/ansible-mdadm"]
	path = ansible/external/ansible-mdadm
	url = https://github.com/korczis/ansible-mdadm.git
[submodule "external/packer-arch"]
	path = external/packer-arch
	url = https://github.com/korczis/packer-arch.git
[submodule "external/arch-boxes"]
	path = external/arch-boxes
	url = https://github.com/korczis/arch-boxes.git
[submodule "external/syslinux"]
	path = external/syslinux
	url = https://github.com/geneC/syslinux.git
